.dfinde{
    color: #F52727;
}
#name{
    color: #16A800;
}
#age{
    color:#16A800;
}
#class{
    color:#16A800;
}
#university{
    color:#16A800;
}
.img{
    width: 300px;
    height: 300px;
}
.img{
    position: absolute;
    top: 100px;
    left: 400px;
}



