.dfinde{
    color: brown;
}
#name{
    color: green;
}
#age{
    color:green;
}
#class{
    color:green;
}
#university{
    color:green;
}
.img{
    width: 300px;
    height: 300px;
}
.img{
    position: absolute;
    top: 100px;
    left: 400px;
}
